*{
box-sizing: border-box;

}

html,
body   {
  margin: 0px;
  border: 0px;
  line-height: 1;
  font-size: 20px;
background: linear-gradient(rgba(0,0,0, .1), rgba(0,0,0, .4));
    }

body {
  font-family: "Courier New", Courier, monospace;
}
@font-face {
    font-family: 'Hk Grotesk';
    font-style: normal;
    font-weight: 200;
    src: url('./fonts/HKGrotesk-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 200;
    src: url('./fonts/Jost-Regular.ttf') format('woff');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

:root {
    --font-size-small: 1.8rem;
    --font-size-normal: 2.2rem;
    --font-size-medium: 2.8rem;
    --font-size-medium-1: 3.6rem;
    --font-size-large: 5.5rem;
    --font-size-huge: 7.5rem;
    --font-stack: 'Hk Grotesk', sans-serif;

    --line-height-normal: 1.7;
    --line-height-small: 1.2;

    --black: #000;
    --pink: #ff3258;
    --white: #f0e9f2;
    --white-1: #e5e5e6da;


    --container-max-width: 1180px;
    --container-normal-width: 800px;
    --container-medium-width: 700px; 
    --container-small-width: 500px;

    --gutter-huge: 12rem;
    --gutter-medium: 6rem;
    --gutter-normal: 3rem;
    --gutter-small-1: 2.5rem;
    --gutter-small: 2rem;

    --border-light: 1px solid rgb(36, 35, 35);
}

/* --------------------------------------- */
/* ----- Header ----- */
/* --------------------------------------- */

.header {
    background: linear-gradient(rgba(0,0,0, .1), rgba(0,0,0, .4)), 
        url('https://wallpaperaccess.com/full/291494.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

  height: 380px;  }

/* --------------------------------------- */
/* ----- Navigation ----- */
/* --------------------------------------- */

.nav {
    display: flex;
    justify-content: flex-end;
    padding: var(--gutter-normal) 0;
    color: #ffffff;
    font-size: 20px;
    align-item: right;

}

.nis {
    display: flex;
    list-style: none;
}

.ni:not(:last-child) {
    margin-right: var(--gutter-medium);
}

@media(max-width: 500px) {
    .nav {
        justify-content: center;
    }
}

@media(max-width: 200px) {
    .nav {
        justify-content: center;
    }
}
@media(max-width: 300px) {
    .nav {
        justify-content: center;
    }
}
@media(max-width: 400px) {
    .nav {
        justify-content: center;
    }
}

@media(max-width: 400px) {
    .ni:not(:last-child) {
        margin-right: var(--gutter-normal);
    }
}

@media(max-width: 300px) {
    .nav {
        font-size: var(--font-size-small);
    }
}

.nav__link {
    position: relative;
    display: inline-block;
    padding: 1rem 0;
    text-decoration: none;
    color: inherit;
    transition: all .2s;
}

.nav__link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 100%;
    display: inline-block;
    height: 1rem;
    background: var(--white);
    transition: all 0.25s cubic-bezier(1, 0.68, 0.16, 0.9);
}

.nav__link:hover {
    color: var(--pink);
}

.nav__link:hover::after {
    right: 0;
    height: 3px;
    background: var(--pink);
}

.wo:hover {
    color: var(--white);
transition: all 0.2s;
background: var(--pink);
}
.wo{

    position: relative;
    display: inline-block;
    padding: .4rem;
    color: inherit;
color: #FFF;
border-bottom: 1px solid var(--pink);
text-decoration: none;
}
.row{
margin: 20px;
padding: 20px;
border: 20px;
}
.row1{
margin: 30px;
padding: 50px;
border: 40px;
border-bottom: 5px;

}

.row2{
margin: 16px;
padding: 12px;
border: 1px;
}
.w{
margin: 30px;
}
.row3{
margin: 30px;
padding: 50px;
border: 40px;
border-bottom: 5px;
}
.k{
margin-left: 600px;
padding: 40px;
border: 1px;
font-family: "Trirong", serif;
}
.btn{
color: #FFF;
text-decoration: none;
border: 20px;
margin:10px;
padding: 3px;
 right: 0;
    height: 5px;
border-bottom: 1px solid var(--pink);
    }
.btn:hover{
    color: var(--white);
transition: all 0.99s;
background: var(--pink);
}




.ci{

margin-left: 30px;
padding: 40px;
border: 1px;
margin-right:50px;
}
.cssmarquee {
height: 60px;
overflow: hidden;
position: relative;
font-family: "Audiowide", sans-serif;
}
span{color: #FFF;}

.cssmarquee span {
position: absolute;
width: 100%;
height: 100%;
margin: 0;
line-height: 30px;
text-align: left;
animation: cssmarquee 5s ease-out;
}
@keyframes cssmarquee {
0% {
transform: translateX(200%);
}
100% {
transform: translateX(0%);
}
}


@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}

footer {
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  padding: 30px;
  font-family: "Trirong", serif;
}

.fa{
padding: 10px;
font-size: 10px;
width: 25px;
text-align: center;
text-decoration: none;
border-radius: 5px;
}

.fa:hover{
padding: 35px;
font-size: 27px;
width: 35px;
opacity: 0.9;
height: 50px;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}


.fa-linkedin {
  background: #007bb5;
  color: white;
}


.fa-instagram {
  background: #dd4b39;
  color: white;
}

.fa-github{
  background: #2c4762;
  color: white;
}

